{% extends 'base.html' %} 
{% block conteudo  %}

    <section class="container mt-4">
        <h4 class="text-center">{{ categoria.nome }}</h4>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for item in itens %}
            <a href="{% url 'ver_item' item.id %}">
                <div class="col">
                    <div class="card">
                        <img src="/media/{{ item.imagem_set.first.arquivo_imagem }}" class="card-img-top" alt="item.imagem_set.first.titulo">
                        <div class="card-body">
                        <h5 class="card-title">{{ item.titulo }}</h5>
                        <p class="card-text"><b>R$ {{ item.preco }}</b></p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}

        </div>
    </section>

{% endblock %}